button {
    cursor: pointer;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;

    --black: #242424;
    --white: #f2f2f2;
    --lightGrey: #d9dce2;
    --grey: #57585b;

    --fg0: #313d22;
    --fg1: #475931;

    --bk: #fbfff8;
    --bg0: #f3faed;
    --bg1: #e2e0c3;

    --hl0: #ffbc7b;
    --hl: #e88760;

    min-height: 100dvh;
    color: var(--fg0);
}

* {
    font-family: "Marcellus", serif;

}

a {
    text-decoration: none;
}


.hor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ver {
    display: flex;
    flex-direction: column;
}


select {
    background-color: var(--bg0);
    border: 1px solid var(--fg0);
    padding: 0.5rem;
    border-radius: 8px;
}

.iconBtn {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;

    border: 1px solid var(--lightGrey);
    transition: border-color 200ms ease-out;
    background-color: transparent;

    padding: 0.2rem;
}

.iconBtn:hover {
    border-color: var(--black);
}

.iconBtn>img {
    height: auto;
    width: auto;

    max-height: 100%;
    max-width: 100%;
}

.iconBtn {
    width: 1.75rem;
    height: 1.75rem;
}


@font-face {
    font-family: CanadianSyllabic;
    src: url("/font/NotoSansCanadianSyllabic_Regular.ttf");
}

@font-face {
    font-family: Marcellus;
    src: url("/font/Marcellus.woff2")
}